
.file-selection-btn{
  margin: 16px 16px 16px 0px;
  background-color: #5b5b5b;
  color: #cddc39;
}

input[type='file']{
  visibility: hidden;
  width: 0px;
}

.progress-bar-btn{
  margin-top: 16px;
}

mat-expansion-panel{
  margin-top: 16px !important;
  .marketing-channel-header{
    font-size: 20px;
    font-weight: bold;
  }
}

.marketing-channel-container{
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  span{
    margin-top: 8px;
  }
  @media screen and (min-width: 950px) {
    span{
      width: 16%;
    }
  }
  @media screen and (min-width: 650px) and (max-width: 950px) {
    span{
      width: 25%;
    }
  }
  @media screen and (min-width: 500px) and (max-width: 650px) {
    span{
      width: 33%;
    }
  }
  @media screen and (max-width: 500px) {
    span{
      width: 50%;
    }
  }
}

.budget-container{
  margin-top: 32px;
  .budget-header{
    font-size: 16px;
    font-weight: bold;
  }
  div{
    margin-top: 16px;
    mat-form-field{
      padding-right: 16px;
    }
  }
}

.main-data-cls{
  height: 81vh;
  overflow-y: overlay;
}
